body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#index{
  width: 100%;
  height: 935px;
  background-image: url('https://images.alphacoders.com/876/876589.jpg');
  background-repeat: inherit;
  position: relative;
}
#main-box{
  width: 60%;
  height: 480px;
  background-color: rgba(51, 50, 50, 0.9);
  position: absolute;
  margin: 4% 10% ;
  padding-top: 50px;
  padding-left: 200px;
  color: white;
}
#search{
  margin-top: 50px;
}
h1{
  font-size: 80px;
  margin-bottom: 0px;
  
}
h3{
  margin-top: 0px;
  font-size: 40px;
}
label{
  font-size: larger;
}
#input{
  width: 200px;
  height: 20px;
}
#flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: rgb(110, 103, 103);
}
.setmovieCss{
  width: 300px;
  height: 400px;
  background-color: rgb(63, 62, 62);
  margin: 50px 50px;
  border-radius: 10px;
}
p{
  color: aquamarine;
  margin-left: 10px;
}
img{
  border-radius: 10px;
  height: 300px;
      width: 300px;
}
@media only screen and (max-width: 600px) {
  body {
  
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
    }
    
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    #index{
      width: 1300px;
      height: 1500px;
      background-image: url('https://images.alphacoders.com/876/876589.jpg');
      background-position: inherit;
      position: relative;
    }
    #main-box{
      margin-top:300px ;
      width: 70%;
      height: 800px;
      background-color: rgba(51, 50, 50, 0.9);
      position: absolute;
      color: white;
      
    }
    #search{
      margin-top: 30px;
    }
    h1{
      font-size: 150px;
      margin-bottom: 0px;
      
    }
    h3{
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 60px;
    }
    label{
      font-size: 40px;
    }
    #input{
      width: 500px;
      height: 40px;
    }
    #flex{
      width: 1300px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background-color: rgb(110, 103, 103);
    }
    .setmovieCss{
      width: 200px;
      height: 300px;
      background-color: rgb(63, 62, 62);
      margin: 30px 50px;
      border-radius: 10px;
    }
    p{
      color: aquamarine;
      margin-left: 10px;
    }
    img{
      border-radius: 10px;
      height: 200px;
      width: 200px;
      font-size: large;
    }
  }
